<form action="/recipes" method="POST">
  Name<input name="name" type="text" />
  Ingredients<input name="ingredients" type="text" />
  Cook Time<input name="cook_time" type="text" />

  <input type="submit" value="Submit">

</form>