<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/style.css" rel="stylesheet">
</head>

<body>

<h1><%= @recipe.name %></h1>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time%> minutes</h4>
<form action="/recipes/<%=@recipe.id%>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>

</body>

</html>